@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: 'Rethink Sans', sans-serif;
}

/* --- Added for slow up-down floating animation --- */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
/* --- End float animation addition --- */

/* --- Added for bottom-to-up slide animation --- */
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 1s ease-out forwards;
}

a {
  display: inline-block;
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.05);
}

html {
  scroll-behavior: smooth;
}

/* Nav underline animation */
.nav-underline {
  position: relative;
}

.nav-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #0a0a0a; /* Tailwind purple-700 */  
  transition: width 0.3s ease;
}

.nav-underline.active {
  color: transparent;
  /* background-image: linear-gradient(90deg, #A1E4C8 0%, #9ED5EC 100%); */
  -webkit-background-clip: text;
  color: #0a0a0a;
  background-clip: text;
}

.nav-underline.active::after {
  width: 100%;
  color: #0a0a0a;
  /* background-image: linear-gradient(90deg, #A1E4C8 0%, #9ED5EC 100%); */
}

.nav-underline:not(.active):hover {
  color: #0a0a0a;
  /* background-image: linear-gradient(90deg, #A1E4C8 0%, #9ED5EC 100%); */
  -webkit-background-clip: text;
  background-clip: text;
}